In [1]:
print("laya is a good girl she is very innocent.")

laya is a good girl she is very innocent.

In [5]:
#function to print the alternate values in range in the same line
#range(500,550) -> 500,501,502.............549
#start with inclusive and end with inclusive
def even(start,end):
    for i in range(start,end,2):
        print(i,end=" ")
even(500,550)

500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548

In [9]:
#function to print reverse of a given range in the sane line
def reverse(n):
    for i in range(n,0,-1):
        print(i,end=" ")
reverse(10)

10 9 8 7 6 5 4 3 2 1

In [13]:
#function to print the odd number in reverse order
def oddreverse(n):
    for i in range(n,0,-1):
        if(i%2==1):
            print(i,end=" ")
oddreverse(10)

9 7 5 3 1

In [ ]:
#function to calculate number of days in  a given time period using leapyear logic
#for every year  in the given time period,if the year is not a leap year-> odd 365 to sum.If leap year 
# function to print all numbers divisilbe by 6
#and not a factor of 100 in given range(lb,ub) inclusive
#function to find the avarege of cubes of all even numbers
#in a given tange(lb,ub) inclusive 
#1,10 ->2,4,6,8,10-> avg(8,64,216,)

## Data Structures

In [ ]:
There are 4 types in data structures in python
1.list
2.tuple
3.set
4.dictionary

## lists

In [14]:
li=[]
type(li)

list

In [15]:
li # accessing the entire list

[]

In [16]:
li=[1,2,3,4]
print(li)

[1, 2, 3, 4]

In [17]:
li[3] #index of list start from 0

4

In [18]:
li[0:]

[1, 2, 3, 4]

In [19]:
li[:-1]

[1, 2, 3]

In [20]:
li[::-1] # reverse of a list

[4, 3, 2, 1]

In [21]:
li

[1, 2, 3, 4]

In [22]:
li[::2]

[1, 3]

In [23]:
li[::-2]

[4, 2]

In [24]:
li[1::2]

[2, 4]

In [1]:
# list1=list(map(int,input().split()))
list1=[]
n=int(input("enter the elements"))
sum=0
for i in range(0,n):
    e=int(input().split())
    list1.append(e)
    sum=sum+list1[i]
print(sum)

enter the elements3
2 3 4

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [2]:
n=list(map(int,input().split()))
print(n)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [ ]:
#### name="laya"
Mylist=[]
print(type(name),type(Mylist))

In [29]:
mylist=list()
type(mylist)

list

In [28]:
names=["ryali","laya"]
type(names)

list

In [33]:
names[1]

'laya'

In [35]:
names[2]

IndexError: list index out of range

### list methods

Append 
 .To add new item in the available list

In [36]:
names[0]

'ryali'

In [37]:
names

['ryali', 'laya']

In [51]:
names.append("vandana","satya","sai")

TypeError: append() takes exactly one argument (3 given)

In [45]:
new_people=("satya","vandana","venkatsai")

In [52]:
names.append(new_people)

In [53]:
names

['ryali',
 'laya',
 ('satya', 'vandana', 'venkatsai'),
 ['satya', 'vandana', 'venkatsai'],
 ['satya', 'vandana', 'venkatsai'],
 ('satya', 'vandana', 'venkatsai'),
 ('satya', 'vandana', 'venkatsai')]

extend

In [47]:
names1=["laya","sai","hai"]

In [48]:
new_persons=["hello","hi","krupa"]

In [49]:
names1.extend(new_persons)

In [50]:
names1

['laya', 'sai', 'hai', 'hello', 'hikrupa']

### copy() 
 To Take new backup of available list

In [55]:
laya=[10,20,30,40,50]

In [56]:
sai=laya.copy()

In [57]:
sai

[10, 20, 30, 40, 50]

In [59]:
girls=["hai","hello","hi"]

In [60]:
dir(girls)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [61]:
girls

['hai', 'hello', 'hi']

### clear()
 it used to clear the list

In [62]:
girls.clear()

In [64]:
girls

[]

### Count(item)
 It can search for given item and return the number of occurances in a list

In [69]:
girls=["supriya","krupa","vidya","supriya"]

In [68]:
print(girls)

['supriya', 'krupa', 'vidya', 'renuka']

In [70]:
girls.count("supriya")

2

In [71]:
numbers=[1,2,3,4,45,[2,45]]

In [73]:
numbers.count(2)

1

### index(item,start_index_for_searching)
     return index of list occurance of the item list if available otherwise value show error

In [75]:
numbers.index(4)

3

In [76]:
num=[1,2,3,1,2,3,1,2,3]
num.index(3,4) # 2,3,1,2,3

5

### insert(index_value,item)
  if given index avilable it can add item at given index otherwise it adds last index

In [78]:
num.insert(5,4)

In [79]:
num

[1, 2, 3, 1, 2, 4, 3, 1, 2, 3]

In [80]:
num.insert(100,45)

In [81]:
num

[1, 2, 3, 1, 2, 4, 3, 1, 2, 3, 45]

### pop()
 It is used to remove the element in a specified position

In [82]:
s=["laya","renuka","satya","sukanya"]

In [84]:
s.pop(3)

'sukanya'

In [85]:
s

['laya', 'renuka', 'satya']

### list_reverse()

In [88]:
number=[12,35,23,56,73,42]

In [89]:
number.reverse()

In [90]:
number

[42, 73, 56, 23, 35, 12]

### remove()
- remove with specific item

In [91]:
n1=["laya","vandana","satya","sai"]

In [92]:
n1.remove("vandana")

In [93]:
n1

['laya', 'satya', 'sai']

### sort()
sort the list in alphabetically

In [94]:
n1.sort()

In [95]:
n1

['laya', 'sai', 'satya']

In [96]:
n1.sort(reverse=True)

In [97]:
n1

['satya', 'sai', 'laya']

In [98]:
#function to identify the second largest element in a unique list
#sort the data and select the second last element
#sort the datain reverse order ,and select the second element

In [99]:
li=[1,2,3,4,5]

In [101]:
def secondlargestlist(li):
    li.sort()
    return li[-2]
secondlargestlist(li)

4

In [103]:
#remove the max elemnt ans then get the max of the new list
def secondlargestlist(li):
    li.sort()
    return li[-2]
#function that returns nth largest
def lar(li,n):
    li.sort()
    return li[-n]
lar(li,5)

1

In [104]:
s="1 2 3 4 5"
li=s.split()
numberList=[]
for i in li:
    numberList.append(int(i))
numberList

[1, 2, 3, 4, 5]

In [ ]:
###problem
#you are given three numbers a,b and c
#write a program to find the largest number
#which  is less than or equal to c and leaves
#remainder  b when divided a

3 2 9
9%3==0
8%3==2


1 2 4
4%1==0
3%2==0
2%2==0
1%2==0

## Tasks

In [1]:
#Given list contains all electronic items[mobile,laptop,speakers,door,files]. If you find any item which is not related to electronics then remove it using slicing method.
#Find the length of the given list. Also print the minimum and maximum values in the list. list1 = [10,20,34,44,88]
#Take a list of elements and add that list into another empty list
#Sort the list of elements in ascending order and descending order.
#Given a two list of equal size create a set such that it shows the element from both lists in the pair.
#Write a python program to print the sum and average of elements in the list.

In [29]:
#Given list contains all electronic items[mobile,laptop,speakers,door,files]. If you find any item which is not related to electronics then remove it using slicing method.

n=['mobile','laptop','speakers','door','files']
n.remove('door')
n.remove('files')
print(n)

['mobile', 'laptop', 'speakers']

In [20]:
#Find the length of the given list. Also print the minimum and maximum values in the list. list1 = [10,20,34,44,88]

list1=[10,20,34,44,88]
n=len(list1)
print(n)
print(max(list1))
print(min(list1))

5
88
10

In [22]:
list1=[10,20,30,40,60,70]
list2=[]
list2.extend(list1)
print(list2)

[10, 20, 30, 40, 60, 70]

In [34]:
#Sort the list of elements in ascending order and descending order.
list1=[]
n=int(input("enter the elements"))
for i in range(0,n+1):
    for j in range(i+1,n+1):
        e=int(input())
        list1.append(e)
        if(list1[i]>=list1[j]):
            temp=list1[i]
            list1[i]=list1[j]
            list1[j]=temp
print(list1[i])

enter the elements5
3

IndexError: list index out of range