## Dictionaries

In [3]:
list1=[10,20,30]
list1[0]

10

In [7]:
dict1={}
dict1={'key1':10,'key2':20}
dict1['key2']

20

In [10]:
dict1={'key1':'value1','key2':'value2','key3':'value3'}
dict2={1:10,2:20,3:30}
print(dict2[1])
print(dict1['key3'])

10
value3

### Dictionary Methods

get()

In [11]:
dict1={'k1':100,'k2':200,'k3':300}
dict2=dict1.get('k2')
dict2

200

keys(),values() and items()

In [12]:
dict1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [13]:
dict1.values()

dict_values([100, 200, 300])

In [14]:
dict1.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

update(),setdefault(),copy()

In [20]:
#update()
student={'name':'laya','ID':661,'branch':'CSE','age':'20'}
student.update({'age':21})

In [21]:
student

{'name': 'laya', 'ID': 661, 'branch': 'CSE', 'age': 21}

In [22]:
student.update({"phone no":9999999999})
student

{'name': 'laya', 'ID': 661, 'branch': 'CSE', 'age': 21, 'phone no': 9999999999}

In [25]:
#setdefault()
student.setdefault('age',20)

21

In [26]:
#copy()
student1=student.copy()

In [27]:
student1

{'name': 'laya', 'ID': 661, 'branch': 'CSE', 'age': 21, 'phone no': 9999999999}

popitem() ,pop(),clear()

In [1]:
d={1:'a',2:'b',3:'c'}
d.popitem()
d

{1: 'a', 2: 'b'}

In [2]:
d.pop(1)

'a'

In [3]:
d

{2: 'b'}

In [4]:
d.clear()

In [5]:
d

{}

In [6]:
d1={'name1':'laya','name2':'vandana','name3':'satya'}
d2={'pin1':123,'pin2':245,'pin3':126}
d1.update(d2)

In [7]:
d1

{'name1': 'laya',
 'name2': 'vandana',
 'name3': 'satya',
 'pin1': 123,
 'pin2': 245,
 'pin3': 126}

## Tasks

In [19]:
# Write a python program to merge four dictionaries into one dictionary

d1={'name1':'laya','name2':'vandana','name3':'satya'}
d2={'pin1':123,'pin2':245,'pin3':126}
d3={'branch1':'CSE','branch2':'ECE','branch3':'CIVIL'}
d4={'E1':2016,'E2':2017,'E3':2018}
d5={}
for key in d1,d2,d3,d4:
    d5.update(key)
print(d5)
#d5.update(d1)
#d5.update(d2)
#d5.update(d3)
#d5.update(d4)

{'name1': 'laya', 'name2': 'vandana', 'name3': 'satya', 'pin1': 123, 'pin2': 245, 'pin3': 126, 'branch1': 'CSE', 'branch2': 'ECE', 'branch3': 'CIVIL', 'E1': 2016, 'E2': 2017, 'E3': 2018}

In [11]:
d5

{'name1': 'laya',
 'name2': 'vandana',
 'name3': 'satya',
 'pin1': 123,
 'pin2': 245,
 'pin3': 126,
 'branch1': 'CSE',
 'branch2': 'ECE',
 'branch3': 'CIVIL',
 'E1': 2016,
 'E2': 2017,
 'E3': 2018}

In [13]:
# Build a contact application and check whether the contact is added or not.

contacts={}
def addContacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print('contact is added')
    else:
        print('contact is already existed')
    return
addContacts('laya',9999999999)

contact is added

In [27]:
contacts

{'laya': 9999999999}

In [14]:
# Write a python program to search for the contacts in contact application.

contacts={}
def addContacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print('contact is added')
    else:
        print('contact is already existed')
    return
def search(name):
    if name in contacts:
        print(contacts[name],"contact is existed")
    else:
        print("contact is not existed")

addContacts('laya',9999999999)
addContacts('sai',8888888888)
addContacts('vandana',7777777777)
search('sai')

contact is added
contact is added
contact is added
8888888888 contact is existed

In [32]:
# Take a dictionary of keys and list of values. print the output as follows
    #key1 : ['name1' , 'branch1']
    #key2 : ['name2' , 'branch2']
    
students={1:['laya','cse'],2:['krupa','ece'],3:['saya','civil']}
for key in students:
    print(key,':',students[key])

1 : ['laya', 'cse']
2 : ['krupa', 'ece']
3 : ['saya', 'civil']

In [33]:
# another way 
students={1:['laya','cse'],2:['krupa','ece'],3:['saya','civil']}
for key,value in students.items():
    print(key,':',value)

1 : ['laya', 'cse']
2 : ['krupa', 'ece']
3 : ['saya', 'civil']

In [38]:
d={}
for i in range(1,11):
    d[i]=i+1
print(d)

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11}

In [42]:
# Write a python program to print sum and average of values in dictionary.

d1={'n1':100,'n2':200,'n3':700}
sum=0
count=0
for key in d1:
    count=count+1
    sum=sum+d1[key]
print(sum)
print(sum/count)

1000
333.3333333333333

In [16]:
list1=[10,20,30]
list2=[100,200,300]
d={}
for keys in list1:
    for values in list2:
        print(keys,':',values)

10 : 100
10 : 200
10 : 300
20 : 100
20 : 200
20 : 300
30 : 100
30 : 200
30 : 300

In [ ]:
n={["hai"],["hello"],["how"]}
print(n)