## Tuples

tuple is a collection of elements which is ordered and unchangable

In [1]:
t=(10,20,30)
print(t)

(10, 20, 30)

In [2]:
type(t)

tuple

In [4]:
for i in t:
    print(i)

10
20
30

In [5]:
t[0:3:2]

(10, 30)

In [6]:
first_tuple=("laya",30,"krupa",40)
print(first_tuple)

('laya', 30, 'krupa', 40)

### Index :
    Here we are giving the index position to print the particular element.

In [8]:
first_tuple[0]

'laya'

In [9]:
len(first_tuple)

4

### count method :
      number of times occurs in a tuple

In [12]:
t.count(20)

1

In [13]:
city_tuple=("hydrebad","delhi","chennai")
b=city_tuple[:-1]
print(b)

('hydrebad', 'delhi')

In [14]:
print(len(b))

2

In [18]:
c=list(b)
print("c is: {0}".format(c))
c=tuple(c)
print("c is now tuple: {0}".format(c))

c is: ['hydrebad', 'delhi']
c is now tuple: ('hydrebad', 'delhi')

In [19]:
x=("ruksana","maduri","divya",'laya')
y=list(x)
y[1]="hari"
x=tuple(y)
print(x)

('ruksana', 'hari', 'divya', 'laya')

In [20]:
if "divya" in x:
    print("yes")
else:
    print("not found")

yes

In [21]:
y=(10,20,30,40)
Y[1]=50
print(x)

NameError: name 'Y' is not defined

In [22]:
y

(10, 20, 30, 40)

In [23]:
del y

In [24]:
print(y)

NameError: name 'y' is not defined

In [25]:
a=("a","b","c","d")
b=(1,2,3,4)
c=a+b

In [26]:
c

('a', 'b', 'c', 'd', 1, 2, 3, 4)

In [33]:
# program to print given tuple in string

a=('1','2','3','4','5')
b="".join(a)
print(b)
type(b)

12345

str

## Tuple Tasks

In [36]:
# python proggram to reverse the given elements in tuple

a=(1,2,3,4,5)
b=list(a)
print(b[::-1])

[5, 4, 3, 2, 1]

In [15]:
n=("laya","krupa","lakshmi","saidurga")
a=len(n)
for i in range(0,a+1):
    b=list(n)
    print(b[i:])
    print(tuple(b))
    break

['laya', 'krupa', 'lakshmi', 'saidurga']
('laya', 'krupa', 'lakshmi', 'saidurga')

## Sets
    set is a group of data
    the only difference between dictionary and set is it has unordered data and their is no index in sets

In [37]:
s={10,20,30}
s

{10, 20, 30}

In [38]:
s={10,20,30,10}
s

{10, 20, 30}

In [39]:
s[0]

TypeError: 'set' object is not subscriptable

In [40]:
names={"a","b","c","d"}
for i in names:
    print(i)

c
a
b
d

In [41]:
print("b" in names)

True

### add() methond:
    To add the elements in the set

In [42]:
names.add("e")
names

{'a', 'b', 'c', 'd', 'e'}

In [43]:
type(names)

set

### update() method :
     to update the set with list

In [44]:
names.update(["hai","hello"])
names

{'a', 'b', 'c', 'd', 'e', 'hai', 'hello'}

### len() method :
       To find the length of the set

In [45]:
print(len(names))

7

### remove() method :
        It is used to remove the elements form the set

In [49]:
names.remove("b")
names

{'a', 'c', 'd', 'e', 'hai'}

### discard() method :
    it is used to discard the elements

In [50]:
names.discard("hai")

In [51]:
names

{'a', 'c', 'd', 'e'}

### pop() method :
      It pop the element which is insert the first

In [52]:
names.pop()
print(names)

{'c', 'e', 'a'}

### clear() method :
      clear method is used to clear the elements but not the set

In [53]:
names.clear()

In [54]:
names

set()

### del method :
    it is used to delete the entire set

In [57]:
del names
names

NameError: name 'names' is not defined

### union() method :
    it is used to combine the two sets

In [58]:
s1={1,2,3,4}
s2={4,5,6}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6}

### intersection() method :
    it used to combine the two sets and it will display the common elemtent in two sets

In [59]:
s1.intersection(s2)

{4}

### difference() method :
   it used to display the element which are different from other set

In [60]:
s2.difference(s1)

{5, 6}

### difference_update() method :
   it used to update the difference set

In [61]:
s1.difference_update(s2)

In [62]:
s1

{1, 2, 3}

## Set Tasks

In [63]:
# Take two sets and print result using methods 
s1={1,2,3,4}
s2={4,5,6}
s3=s1.union(s2)
print(s3)
s4=s1.intersection(s2)
print(s4)
s5=s2.difference(s1)
print(s5)
s6=s1.difference_update(s2)
print(s6)

## Packages and Modules
  package : collection of modules
  module : a single python fill containing functions
 structure :  package ---> subpackages ---> modules ---> functions

In [ ]:
def laya(name):
    print("hello"+name)

In [ ]:
import firstmodule
firstmodule.print("laya")
   import first module as mod

### Packages

In [65]:
from math import floor as f1
f1(2343.3223423)

2343

In [66]:
import random
def rand(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
rand(10,1,100)

80 30 64 93 51 94 67 26 72 47

In [72]:
from packages.numeric import isPrime
isPrime(3)

ModuleNotFoundError: No module named 'packages'

In [75]:
import math
print(int(math.sqrt(256)))

16